
<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>PQ Lab</span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Enter sample serial.." [(ngModel)]='sampleSerial' >
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="sumbit()">Submit</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>